scikit-learn
Flask 
gunicorn 
itsdangerous 
Jinja2 
MarkupSafe 
matplotlib 
numpy 
pandas
scipy 
Werkzeug 
xgboost 
certifi
chardet
distribute
requests
tensorflow
tensorflow-estimator
distutils
