{% extends 'base.html' %}

{% block content %}

<div class="container-fluid p-4 bg-info">
    <h1 class="text-primary">FACIOMETRICS</h1>
</div>

<p class="lead p-2">Upload your files </p>

<br>
<div class="row d-flex justify-content-center">
    <div class="col-md-3 border border-dark p-4">
        <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.file() }}
        <br>
        <br>
        <br>
        {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>


happy : {{happy}} <br>
<progress value="{{happy}}" max="1">  </progress> <br>
angry : {{angry}} <br>
<progress value="{{angry}}" max="1">  </progress> <br>
disgust : {{disgust}} <br>
<progress value="{{disgust}}" max="1">  </progress> <br>
fear : {{fear}} <br>
<progress value="{{fear}}" max="1">  </progress> <br>
sad : {{sad}} <br>
<progress value="{{sad}}" max="1">  </progress> <br>
surprise : {{surprise}} <br>
<progress value="{{surprise}}" max="1">  </progress> <br>
neutral : {{neutral}} <br>
<progress value="{{neutral}}" max="1">  </progress> <br>



{% endblock %}
